%h3
    .text-center
    Activity
    .badge.badge-info
    = @activities.count
%ul.list-group
    - @activities.each do |activity|
        %li.list-group-items
        = activity.id
        = activity.trackable_type
        = activity.trackable_id
        = activity.owner

  